* {
  box-sizing: border-box;
}

body {
  /*background-color: black;*/
  background-image: url(http://images2.alphacoders.com/594/594767.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  max-width: 95%;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
  text-transform: capitalize;
  overflow: hidden;
}

/*** LANDING DISPLAY ***/
.landing {
  border: 8px solid white;
  border-radius: 50%;
  height: 500px;
  max-width: 500px;
  background-color: transparent;
  display: inherit;
  margin-right: auto;
  margin-left: auto;
  margin-top: 6%;
  font-family: 'Quicksand', sans-serif;
  /*animation-name: colorChangeBordersThick;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;*/

}

@keyframes colorChangeBordersThick {
  0%  {border: 8px solid white;}
  5%  {border: 8px solid rgb(128, 201, 220);}
  15%  {border: 8px solid rgb(115, 171, 228);}
  25%  {border: 8px solid rgb(254, 231, 138);}
  35%  {border: 8px solid rgb(230, 167, 56);}
  45%  {border: 8px solid rgb(107, 181, 94);}
  65%  {border: 8px solid rgb(230, 167, 56);}
  75%  {border: 8px solid rgb(254, 231, 138);}
  85%  {border: 8px solid rgb(115, 171, 228);}
  95%  {border: 8px solid rgb(128, 201, 220);}
  100% {border: 8px solid white;}
}

input {
  border: 0;
  border-bottom: 4px solid white;
  background-color: transparent;
  color: rgb(21, 200, 209);
  font-size: 2.5em;
  cursor: vertical-text;
  text-align: center;
  margin-top: 20%;
  width: 60%;
  line-height: 1em;
  font-family: 'Quicksand', sans-serif;
}

input#player2-name {
  margin-top: 10%;
}

input:focus {
  outline: 0;
}

.landing-buttons {
  border: 4px solid white;
  border-radius: 50%;
  height: 100px;
  max-width: 100px;
  background-color: transparent;
  color: white;
  font-family: 'Quicksand', sans-serif;
  margin-top: 10%;
  font-size: 1.2em;
  width: 33.3333333%;
  padding: 3%;
}

.landing-buttons:hover {
  border: 4px solid white;
  border-radius: 50%;
  height: 100px;
  max-width: 100px;
  background-color: white;
  color: rgb(160, 200, 249);
  font-family: 'Quicksand', sans-serif;
  margin-top: 10%;
  font-size: 1.2em;
  width: 33.3333333%;
  padding: 3%;
}

.submit {
  margin-right: 18%;
}


/*** MAIN DISPLAY ***/
main {
  display: none;
}

.game-board {
  border: 1px solid transparent;
  position: relative;
  max-width: 423px;
  height: 423px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  animation: zoomBoard 1s linear 0s 1;
}


@keyframes zoomBoard {
  from {transform: scale(0.3);}
}

@keyframes crazySpin {
  from {transform:rotate(0deg);}
   to {transform:rotate(360deg);}
}

@keyframes crazyBorders {
  0%  {border: 4px solid white;}
  5%  {border: 4px solid rgb(128, 201, 220);}
  15%  {border: 4px solid rgb(115, 171, 228);}
  25%  {border: 4px solid rgb(254, 231, 138);}
  35%  {border: 4px solid rgb(230, 167, 56);}
  45%  {border: 4px solid rgb(107, 181, 94);}
  65%  {border: 4px solid rgb(230, 167, 56);}
  75%  {border: 4px solid rgb(254, 231, 138);}
  85%  {border: 4px solid rgb(115, 171, 228);}
  95%  {border: 4px solid rgb(128, 201, 220);}
  100% {border: 4px solid white;}
}

button.box {
  float: left;
  display: inline-block;
  border: 0;
  padding: 0;
  background-color: transparent;
  color: rgb(160, 200, 249);
  font-size: 7em;
  font-family: 'Quicksand', sans-serif;
}

button:focus {
  outline: 0;
}

.box {
  width: 33.33333%;
  height: 140px;
}

.top.left {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.top.center {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
}

.top.right {
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}

.middle.left {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  border-right: 2px solid white
}

.middle.center {
  border: 2px solid white;
}

.middle.right {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  border-left: 2px solid white
}

.bottom.left {
  border-top: 2px solid white;
  border-right: 2px solid white;
}

.bottom.center {
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
}

.bottom.right {
  border-top: 2px solid white;
  border-left: 2px solid white;
}

/*** HEADER DISPLAY ***/

header {
  border: 1px solid transparent;
  max-width: 423px;
  position: relative;
  margin-top: 2%;
  margin-bottom: 70px;
  font-size: 1.5em;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.8em;
}

.header {
  float: left;
}

.header-buttons {
  width: 10%;
  height: 42px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 50%;
}

.header-buttons:hover {
  width: 10%;
  height: 42px;
  border: 2px solid white;
  background-color: white;
  color: white;
  border-radius: 50%;
  animation-name: colorChangeBG;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes colorChangeBG {
  0%  {background-color: white;}
  2%  {background-color: rgb(128, 201, 220);}
  15%  {background-color: rgb(115, 171, 228);}
  25%  {background-color: rgb(254, 231, 138);}
  35%  {background-color: rgb(230, 167, 56);}
  45%  {background-color: rgb(107, 181, 94);}
  65%  {background-color: rgb(230, 167, 56);}
  75%  {background-color: rgb(254, 231, 138);}
  85%  {background-color: rgb(115, 171, 228);}
  98%  {background-color: rgb(128, 201, 220);}
  100% {background-color: white;}
}

.display {
  width: 80%;
  text-transform: uppercase;
}

.fa-eject {
  text-align: center;
  margin-top: 5px;
  margin-right: 1px;
  vertical-align: top;
}

.fa-undo {
  text-align: center;
  margin-top: 7px;
  margin-left: 2px;
  vertical-align: top;
}

/*** NOTIFICATIONS DISPLAY ***/
.notifications {
  border: 1px solid transparent;
  max-width: 423px;
  position: relative;
  margin-top: 2%;
  font-size: 1.3em;
  margin-right: auto;
  margin-left: auto;
}

.players, .tie {
  float: left;
}

.players {
  width: 32.5%;
}

.tie {
  width: 35%;
}

.scores {
  font-size: 1.8em;
  color: rgb(160, 200, 249);
  font-weight: bold;
}

/*** GAME OVER DISPLAY ***/
.game-over {
  border: 8px solid white;
  border-radius: 50%;
  height: 500px;
  max-width: 500px;
  background-color: transparent;
  display: none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 6%;
  font-family: 'Quicksand', sans-serif;
}
.thanks-message {
  font-size: 1.5em;
  text-align: center;
  margin-top: 20%;
  text-transform: uppercase;
  line-height: 1.5em;
  font-family: 'Quicksand', sans-serif;
}

.winner-message {
  font-size: 1.5em;
  text-align: center;
  margin-top: 5%;
  text-transform: uppercase;
  line-height: 1.5em;
  font-family: 'Quicksand', sans-serif;
}

.crazy-button {
  border: 4px solid white;
  border-radius: 50%;
  height: 180px;
  max-width: 180px;
  background-color: transparent;
  color: white;
  font-family: 'Quicksand', sans-serif;
  margin-top: 5%;
  font-size: 1.8em;
  padding: 3%;
  animation-name: crazySpin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.crazy-button:hover {
  border: 4px solid white;
  border-radius: 50%;
  height: 180px;
  max-width: 180px;
  background-color: white;
  color: rgb(160, 200, 249);
  font-family: 'Quicksand', sans-serif;
  margin-top: 5%;
  font-size: 1.8em;
  padding: 3%;
  animation-name: crazySpin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
